In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/data.csv")

In [ ]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4,1930.0,0.0,1966.0,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4,1000.0,1000.0,1963.0,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4,1140.0,800.0,1976.0,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,7/9/2014 0:00,3.081667e+05,3.0,1.75,1510.0,6360.0,1.0,0.0,0.0,4,1510.0,0.0,1954.0,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,7/9/2014 0:00,5.343333e+05,3.0,NaN,1460.0,7573.0,2.0,0.0,0.0,3,1460.0,0.0,1983.0,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,7/9/2014 0:00,4.169042e+05,3.0,NaN,3010.0,7014.0,2.0,0.0,0.0,3,3010.0,0.0,2009.0,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,7/10/2014 0:00,2.034000e+05,4.0,2.00,2090.0,6630.0,1.0,0.0,0.0,3,1070.0,1020.0,1974.0,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3.0,2.50,1490.0,8102.0,2.0,0.0,0.0,4,1490.0,0.0,1990.0,0,18717 SE 258th St,Covington,WA 98042,USA

In [ ]:
df.isnull()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4596,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4597,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4598,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4599,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

date             0
price            3
bedrooms         5
bathrooms        2
sqft_living      2
sqft_lot         2
floors           2
waterfront       5
view             2
condition        0
sqft_above       3
sqft_basement    3
yr_built         6
yr_renovated     0
street           3
city             4
statezip         3
country          6
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [ ]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3.0,1.50,1340.0,7912.0,1.5,0.0,0.0,3,1340.0,0.0,1955.0,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5.0,2.50,3650.0,9050.0,2.0,0.0,4.0,5,3370.0,280.0,1921.0,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3.0,2.00,1930.0,11947.0,1.0,0.0,0.0,4,1930.0,0.0,1966.0,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3.0,2.25,2000.0,8030.0,1.0,0.0,0.0,4,1000.0,1000.0,1963.0,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4.0,2.50,1940.0,10500.0,1.0,0.0,0.0,4,1140.0,800.0,1976.0,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,7/2/2014 0:00,0.000000e+00,5.0,6.25,8020.0,21738.0,2.0,0.0,0.0,3,8020.0,0.0,2001.0,0,2 Crescent Key,Bellevue,WA 98006,USA
4579,7/6/2014 0:00,4.547900e+05,2.0,1.75,1990.0,4000.0,1.0,0.0,0.0,5,1090.0,900.0,1952.0,1998,8215 Stone Ave N,Seattle,WA 98103,USA
4595,7/9/2014 0:00,3.081667e+05,3.0,1.75,1510.0,6360.0,1.0,0.0,0.0,4,1510.0,0.0,1954.0,1979,501 N 143rd St,Seattle,WA 98133,USA
4598,7/10/2014 0:00,2.034000e+05,4.0,2.00,2090.0,6630.0,1.0,0.0,0.0,3,1070.0,1020.0,1974.0,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3.0,2.50,1490.0,8102.0,2.0,0.0,0.0,4,1490.0,0.0,1990.0,0,18717 SE 258th St,Covington,WA 98042,USA

In [ ]:
df.duplicated().sum()

0

In [ ]:
print(df.dtypes)

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living      float64
sqft_lot         float64
floors           float64
waterfront       float64
view             float64
condition          int64
sqft_above       float64
sqft_basement    float64
yr_built         float64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
df= df.astype({
    'bedrooms' : 'int',
    'bathrooms' : 'int',
    'sqft_living' : 'int',
    'sqft_lot' : 'int',
    'floors' : 'int',
    'waterfront' : 'int',
    'view' : 'int',
    'yr_built' : 'int',
})

In [ ]:
df.dtypes

date              object
price            float64
bedrooms           int64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors             int64
waterfront         int64
view               int64
condition          int64
sqft_above       float64
sqft_basement    float64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [ ]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3,1,1340,7912,1,0,0,3,1340.0,0.0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5,2,3650,9050,2,0,4,5,3370.0,280.0,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3,2,1930,11947,1,0,0,4,1930.0,0.0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3,2,2000,8030,1,0,0,4,1000.0,1000.0,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4,2,1940,10500,1,0,0,4,1140.0,800.0,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,7/2/2014 0:00,0.000000e+00,5,6,8020,21738,2,0,0,3,8020.0,0.0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
4579,7/6/2014 0:00,4.547900e+05,2,1,1990,4000,1,0,0,5,1090.0,900.0,1952,1998,8215 Stone Ave N,Seattle,WA 98103,USA
4595,7/9/2014 0:00,3.081667e+05,3,1,1510,6360,1,0,0,4,1510.0,0.0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4598,7/10/2014 0:00,2.034000e+05,4,2,2090,6630,1,0,0,3,1070.0,1020.0,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3,2,1490,8102,2,0,0,4,1490.0,0.0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [ ]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.569000e+03,4569.000000,4569.000000,4569.000000,4.569000e+03,4569.000000,4569.000000,4569.000000,4569.000000,4569.000000,4569.000000,4569.000000,4569.000000
mean,5.532981e+05,3.401838,1.789451,2140.320420,1.490236e+04,1.458525,0.007004,0.239221,3.451083,1827.767345,312.553075,1970.847012,807.996498
std,5.651549e+05,0.908732,0.752615,964.333558,3.599932e+04,0.551306,0.083404,0.775265,0.677593,862.503932,464.843135,29.706887,979.310418
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.249500e+05,3.000000,1.000000,1460.000000,5.002000e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.620000e+05,3.000000,2.000000,1980.000000,7.686000e+03,1.000000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.555000e+05,4.000000,2.000000,2620.000000,1.103400e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.000000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [ ]:
df.rename(columns={
    "yr_built" : 'year_built',
    'yr_renovated' : 'year_renovated',

},inplace=True)
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,year_built,year_renovated,street,city,statezip,country
0,5/2/2014 0:00,3.130000e+05,3,1,1340,7912,1,0,0,3,1340.0,0.0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,5/2/2014 0:00,2.384000e+06,5,2,3650,9050,2,0,4,5,3370.0,280.0,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,5/2/2014 0:00,3.420000e+05,3,2,1930,11947,1,0,0,4,1930.0,0.0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,5/2/2014 0:00,4.200000e+05,3,2,2000,8030,1,0,0,4,1000.0,1000.0,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5/2/2014 0:00,5.500000e+05,4,2,1940,10500,1,0,0,4,1140.0,800.0,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,7/2/2014 0:00,0.000000e+00,5,6,8020,21738,2,0,0,3,8020.0,0.0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
4579,7/6/2014 0:00,4.547900e+05,2,1,1990,4000,1,0,0,5,1090.0,900.0,1952,1998,8215 Stone Ave N,Seattle,WA 98103,USA
4595,7/9/2014 0:00,3.081667e+05,3,1,1510,6360,1,0,0,4,1510.0,0.0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4598,7/10/2014 0:00,2.034000e+05,4,2,2090,6630,1,0,0,3,1070.0,1020.0,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,7/10/2014 0:00,2.206000e+05,3,2,1490,8102,2,0,0,4,1490.0,0.0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [ ]:
df.to_csv('Accuate_data.csv', index=False)